body{
  margin:0;
  font-family:Arial, sans-serif;
  background: linear-gradient(to bottom, #fff8f2, #fbeff5);
}

header{
  text-align:center;
  padding:20px;
}

h1{
  color:#8E6CCF;
}

.card{
  background:white;
  margin:15px;
  padding:20px;
  border-radius:20px;
  box-shadow:0 6px 15px rgba(0,0,0,0.08);
  cursor:pointer;
  transition:0.2s;
}

.card:hover{
  transform:scale(1.03);
}

.hidden{
  display:none;
}

#page{
  padding:20px;
}

button{
  padding:10px 15px;
  border:none;
  border-radius:10px;
  background:#8E6CCF;
  color:white;
}

/* ITEMS */
.item{
  background:white;
  margin:10px 0;
  padding:15px;
  border-radius:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

/* PROGRESSION */
#globalProgress{
  width:90%;
  height:12px;
  background:#eee;
  margin:10px auto;
  border-radius:20px;
  overflow:hidden;
}

#bar{
  height:100%;
  width:0%;
  background:#8E6CCF;
  transition:0.3s;
}

#progressText{
  text-align:center;
  color:#666;
  font-size:14px;
}
